/* these are our variables */
:root {
    --background: #fff; 
    --text-color: #000;
    --primary-color: #9BC0D9;
    --secondary-color: #c24b30;
}

body{
    background-color: var(--background);
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 10px;
}
h1{
    font-weight: 800;
}
h2{
    font-weight: 600;
}
.pros-cons{font-size: 20px;}
p{
    font-size: 18px;
}
/* fixed padding */
nav ul{
    padding-left: 8px;
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul li{list-style: none;
font-size: 18px;
font-weight: 800;
}
nav{
    background-color: var(--secondary-color);
}
nav a{
    color: #fff;
}
li{
    list-style: circle;
    margin: 20px;
    padding-left: 5px;
}
dl{
    font-size: 20px;
    padding-left: 20px;
    border: 2px solid #293241;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
}
dd{
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
.selected{
    text-decoration: underline;
}
a:hover{
    color: #293241;
    text-decoration: underline;
}
.snowboard-image {
    float: right;
    width:50%;
    height: auto;
}
.snowboard-image img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: block; 
}
footer {
    clear: both;
}
figcaption {
    text-align: center;
    background-color: #c24b30;
    border-radius: 0 0 10px 10px;
    padding: .5rem;
    color: white;
}
.gallery-flex {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.gallery-image img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: block;
} 
.gallery-image {
    width: 40%;
    max-width: 250px;
}
.myForm {
    padding: 0 10px;
}
.c-info label input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #9BC0D9;
    background-color: white;
    width: 10rem;
}
.c-info {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}
.c-info label {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}
.c-info label input:focus {
    background-color: #E8F0FE;
    outline: none;
}
.c-info label input:invalid {
    color: #c24b30;
}
fieldset {
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: #293241;
}
fieldset legend {
    background-color: #293241;
    color: white;
    padding: 0 5px;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #c24b30;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    border: 1px solid color-mix(in srgb, #c24b30 30%, black 70%);
    font-weight: 700;
    display: block;
    margin-top: 15px;
}
select {
    padding: 5px;
    border-radius: 5px;
}
select:focus {
    background-color: #E8F0FE;
}
.align-options {
    /* align-items: center; */
    display: flex;
    flex-flow: column wrap;
}
textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #9BC0D9;
    background-color: white;
    width: 10rem;
}
.feedback {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    flex-flow: column wrap;
}